@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*the width and height will including the padding and border*/
  font-family: 'Ubuntu', sans-serif;
}

html {
  font-size: 62.5%; /*1rem = 10px*/
}

